<a href="https://colab.research.google.com/github/ADSLAN/ADSLAN/blob/main/RE_task5_english.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question Mark?
Qyestion mark ? is the "option" regex meaning 0 or 1 occurrence

Question mark ? can also be used in combination with other special characters and means something else.

asterisk * means 0 or more occurence of the preceding element

By default the engine returns "more occurences" (greedy). if we want to force the 0 occurences, we use? after the * (non-greedy)

In [20]:
import re

In [21]:
text = "abcdefghujhg"

In [22]:
re.findall("ab.*?", text)

['ab']

In [23]:
text = "peter piper picked a peck of pickled peppers"

In [24]:
re.findall("p.*?e.*?r", text)

['peter', 'piper', 'picked a peck of pickled pepper']

# Problem 1

Find a match hat starts with "crypto", then matches at the most 30 arbitrary characters and match ends when the last word is "coin"

In [27]:
text = "crypto-bot that is trading Bitcoin and other currencies"

In [28]:
re.match("crypto(.{1,30})coin", text)

# Problem 2
given a string, find a list of all occurences of dollar amounts with optional regular expressions decimal values

In [29]:
text = """
if you invested $1 in the year 1801, you would have $18087791.41 today
this is a 7.967% return on investment.
But if you invested only $0.25 in 1801, you would end up with $4521947.8525
"""

In [30]:
re.findall("(\$[0-9]+(\.[0-9]*)?)", text)

[('$1', ''),
 ('$18087791.41', '.41'),
 ('$0.25', '.25'),
 ('$4521947.8525', '.8525')]

# Problem 3
Replace Alice Wonderland with "Alice Doe", but not to replace occurrences of "Alice Wonderland" when you see single quotes. Introducing the "?!" Negative lookahead.

In [31]:
text = """
Alice Wonderland married John Doe.
The new name of former "Alice Wonderland" is Alice Doe.
Alice Wonderlnad replaces her old name "Wonderland" with her new name "Doe".
Alice's sister Jane Wonderland still keeps her old name.
"""

In [36]:
re.sub("Alice Wonderland(?!')", "ALice Doe", text)

'\nALice Doe married John Doe.\nThe new name of former "ALice Doe" is Alice Doe.\nAlice Wonderlnad replaces her old name "Wonderland" with her new name "Doe".\nAlice\'s sister Jane Wonderland still keeps her old name.\n'